<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>{{ title }}</title>
</head>

<body class="">
  <div class="container">
    <header>
      {% include 'partials/header.njk' %}
    </header>
    
    <div class="content">
      <aside class="sidebar">
        <nav>{% include 'partials/navigation.njk' %}</nav>
      </aside>
      <main>
        {{ content | safe }}
      </main>
    </div>

    <footer>{% include 'partials/footer.njk' %}</footer>
  </div>

  <script src="/js/main.js"></script>
  <script>
    if (window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.classList.add('dark');
    }
  </script>
</body>