---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{% if tags %}
<p class="tags">
	{% for tag in tags | exclude('blog') %}
		<a href="/tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
	{% endfor %}
    <small>{{ page.date.toISOString().slice(0,10) }}</small>
</p>
{% endif %}

<article>{{ content | safe}}</article>

<!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="/css/styles.css" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24.7AWXD.a7xH6dsbW92Ulk1"+"&opts=16798&num=10&ts=1771954326475");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->