---
title: Blog
layout: layouts/base.njk
---
<h1>Bienvenido a mi Blog</h1>

<a href="/allTags/">Todas las etiquetas</a>

<h2>Última entrada</h2>
<ul>
  {% for post in collections.blog | reverse | limit(1) %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a> <small>{{ post.date.toISOString().slice(0,10) }}</small>
  </li>
  {% endfor %}
</ul>

<h2>Entradas recientes</h2>
<ul>
  {% for post in collections.blog | reverse | limit(10) %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a> <small>{{ post.date.toISOString().slice(0,10) }}</small>
  </li>
  {% endfor %}
</ul>