<div>
    <ul class="navmenu">
        <li><a href="/">HoMe</a></li>
        <li><a href="/about/">AbouT</a></li>
        <li><a href="/blog/">BLog</a></li>
        <li><a href="/links/">LinKs</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="javascript:void(0)" onclick="switchMode(this)" style="font-size: 1.8rem;">Dark Mode</a></li>
    </ul>
</div>
