<div>
    <ul class="navmenu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about/">Conocer</a></li>
        <li><a href="/blog/">BLog</a></li>
        <li><a href="/links/">LinKs</a></li>
        <li><a href="/gallery/">Galería</a></li>
        <li><a href="javascript:void(0)" onclick="switchMode(this)" style="font-size: 1.8rem;">ModoNoche</a></li>
    </ul>
</div>
